* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#canvas {
    position: relative;
    border: 1px solid;
    height: 1000px;
    width: 1000px;
    margin: auto;
    overflow: hidden;

    img {
        position: absolute;
    }
}